<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Session Timer</title>
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css" />
    <link rel="stylesheet" href="/stylesheets/countdown.css">
    
</head>
<body>
    <script>
        window.sessions = <%- JSON.stringify(sessions) %>;
    </script>
    <script src="/javascripts/countdown.js"></script>   
    
    <div class="container">
        <h1 id="activity-details"></h1>

        <div id="timer" class="timer">
            <div class="time">
                <h2 id="days">00</h2>
                <small>Days</small>
            </div>
    
            <div class="time">
                <h2 id="hours">00</h2>
                <small>Hours</small>
            </div>
    
            <div class="time">
                <h2 id="minutes">00</h2>
                <small>Minutes</small>
            </div>
    
            <div class="time">
                <h2 id="seconds">00</h2>
                <small>Seconds</small>
            </div>
        </div>
        <div class="marquee">
            <p id="upcomingSessions"></p>
        </div>
    </div>
    
</body>
</html>
