<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrysalis | Leap</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="">
          <a class="navbar-brand" href="/home">
            <img src="/images/logo.png" alt="Chrysalis" />
          </a>
        </div>
      </nav>
    <div class="main d-flex justify-content-center align-items-center">
        <p>Please log in with your Chrysalis email.</p>
        <button class="btn btn-primary" type="button"> <a href="/home"> Log in</a></button>
    </div>
    
</body>
</html>