@import url('https://use.typekit.net/oov2wcw.css');

:root {
  --primary-color: #E95757; 
  --secondary-color: #FCB22B; 
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'century-gothic' !important;
  min-height: 100vh;
  box-sizing: border-box;
  /* font-size: 12px; */
}
.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.full-width{
  width: 100vw;
}
.hidden{
  display: none;
}
.navbar{
  padding: 0;
  background-color:var(--primary-color);
  width: 100vw;
  box-sizing: border-box;
}

.navbar-brand img{
  margin: 0 0 0 4rem;
  }

.datafield{
  padding: 5px;
  border-radius: 5px;
  max-width: 600px;
}
.btn-plain{
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
}
.btn{
  background-color: #E95757;
  color: white;
}
.btn:hover{
  background-color: #FCB22B;
  color: #000;
}

.spanBtn{
  border: #E95757;
  border-radius: 0.5rem;
}
/* .footer{
  display: block;
  justify-content: center;
  margin-top: 25px;
  height: 100px;
  background-color: rgb(203, 230, 230);
} */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  background-color: rgb(203, 230, 230);
  padding: 0.5rem;  
}

.nothing{
  flex: 1;
}
button{
  background-color: var(--primary-color);
  color: white;
  /* margin-right: 1rem; */
  border-radius: 0.5rem;
  border: none;
}
button a{
  text-decoration: none;
  color: white;
}
button:disabled {
  background-color: #ccc !important; /* Gray background */
  color: #666 !important; /* Gray text */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  opacity: 0.6; /* Make it slightly transparent */
}
.footerright button:hover{
  background-color: var(--secondary-color);
}
.footerleft{
  margin-left: 1rem;
}
.tableData:nth-child(even) {
  background-color: #f9f9f9;
}

.table-header-row{
  box-sizing: border-box;
  height: 3rem;
  line-height: 1.5rem;
}

.group-header-row{
  background-color: #e0e0e0;
  box-sizing: border-box;
  font-weight: bold;
  position: sticky;
  top: 3.2rem;
}
th{
  /* width: 100%; */
  position: sticky; 
  top: 0;
  z-index: 1;
}
@media (max-width: 600px) {
  .navbar, .footer {
      width: 100%;
  }
  table {
      width: 100%;
      display: block;
      overflow-x: auto;
  }
}
#topButton {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}